
html, body, h1, h2, h3, p, dl, dd, ol, ul, th, td, form, fieldset, input, button, textarea {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Arial,Verdana,Sans-serif';
  height: 100%;
  width: 100%;
  -webkit-text-size-adjust: none;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
}

body {
  height: 100%;
  width: 100%;
  font-size: @baseFontSize;
  color: @baseFontColor;
}
