.flex {
  display: -webkit-box;
  display: flex;
}

.ccflex {
  .flex;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  align-items: center;
  justify-content: center;
}

.csflex {
  .flex;
  -webkit-box-align: center;
  -webkit-box-pack: start;
  align-items: center;
  justify-content: flex-start;
}

.ceflex {
  .flex;
  -webkit-box-align: center;
  -webkit-box-pack: end;
  align-items: center;
  justify-content: flex-end;
}

.scflex {
  .flex;
  -webkit-box-align: start;
  -webkit-box-pack: center;
  align-items: flex-start;
  justify-content: center;
}

.vflex {
  flex-direction: column;
  -webkit-box-orient: vertical;
}

.doubleline {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
}
